{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block title %}Confirm Delete{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'list' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'create' %}">Add new<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin: 10px;">
        <span>Are you sure you want to do this?
        This object will be <b>deleted</b> permanently!
    </span>
        <form method="POST">
            {% csrf_token %}
            <br>
            <button class="btn btn-secondary"><a style="color: white;" href="{% url 'detail' obj.id %}">Cancel</a>
            </button>
            <input type="submit" class="btn btn-danger" value="Yes, i am sure.">
        </form>
    </div>
{% endblock %}
