{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block title %}List{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'list' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'create' %}">Add new<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="height: 100%; margin: 10px;">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Username</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in list %}
                <tr>
                    <th scope="row">{{ obj.id }}</th>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.username }}</td>
                    <td><a href="{% url 'detail' obj.id %}">Detail</a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
